[Unit]
Description=Autoexport usb devices with usbip

[Service]
Restart=always
ExecStart=/usr/local/bin/usbip_autoexport.py start
ExecStopPost=/usr/local/bin/usbip_autoexport.py unbind
RestartSec=5

[Install]
WantedBy=multi-user.target
