[Unit]
Description=Tls proxy for usbip server connection

[Service]
Restart=always
ExecStart=python3 /usr/bin/tls_proxy.py
RestartSec=5

[Install]
WantedBy=multi-user.target
