[Unit]
Description=Autoimport usb devices with usbip

[Service]
Restart=always
ExecStart=autoredir -d autobind
RestartSec=5

[Install]
WantedBy=multi-user.target
