Source: usbip_server
Section: unknown
Priority: optional
Maintainer: feelinglight <kolpacc123@mail.ru>
Build-Depends: debhelper (>= 9~)
Standards-Version: 3.9.8.0
Homepage: <insert the upstream URL, if relevant>

Package: usbip_server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: usbip_server
